<div class="article__header">
    <a class="article__author" href="#">{{::$ctrl.article.articleAuthor}}</a>
    <span class="article__date">
        {{::$ctrl.article.articleDate | date:'dd MMMM in HH:mm'}}
    </span>
</div>
<h3 class="article__title">{{::$ctrl.article.articleTitle | capitalize}}</h3>
<div class="article__tags-container">
    <a class="article__tag" href="#" ng-repeat="tag in $ctrl.article.tags track by $index">{{tag | capitalize}}</a>
</div>
<img class="article__img" ng-src={{::$ctrl.article.articleImg}} alt="article image" />
<div class="article__text-container">
    <p class="article__text" ng-repeat="paragraph in $ctrl.article.articlePreview.split('\r') track by $index">{{paragraph}}</p>
</div>

<div class="article__footer">
    <a class="btn article__footer-link" href="#">
        Read more
        <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    <div class="article__counters-container">
        <p class="article__footer-item article-footer__comment">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            {{::$ctrl.article.articleComments.length}}
            </p>
        <p class="article__footer-item article-footer__view">
            <i class="fa fa-eye" aria-hidden="true"></i>
            {{::$ctrl.article.articleViews}}
        </p>
        <p class="article__footer-item article-footer__rating">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            {{::$ctrl.article.articleRating}}
            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
        </p>
    </div>
</div>
