<form name="articleForm" class="article-form" novalidate ng-submit="$ctrl.submitHandler($event, 'sadasd')">
    <div class="row">
        <div class="input-container">
            <label for="article-author" class="label-required">Article Author</label>
            <input type="text" name="articleAuthor" id="article-author" ng-required="true" ng-minlength="2" ng-model="$ctrl.article.articleAuthor" />
            <div class="help-block" ng-messages="articleForm.articleAuthor.$error" ng-if="$ctrl.shouldShowErrors(articleForm.articleAuthor)">
                <p ng-message="minlength">Assignee Name must be at least 2 characters.</p>
                <p ng-message="required">Assignee Name is required.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-container">
            <label for="article-img" class="label-required">Article Image Url</label>
            <input type="text" name="articleImg" id="article-img" ng-required='true' ng-minlength="5" ng-model="$ctrl.article.articleImg" />
            <div class="help-block" ng-messages="articleForm.articleImg.$error" ng-if="$ctrl.shouldShowErrors(articleForm.articleImg)">
                <p ng-message="minlength">Assignee Name must be at least 2 characters.</p>
                <p ng-message="required">Assignee Name is required.</p>
            </div>
        </div>
    </div>
    <label class="tags-label">Article tags:</label>
    <div class="row row-flex">
        <div class="input-small-container" ng-repeat="tag in $ctrl.tags track by $index">
            <label for="{{::tag}}-checkbox">{{::tag}}</label>
            <input type="checkbox" name="articleImg" id="{{::tag}}-checkbox" ng-model="$ctrl.articleTags[tag]" />
            <label for="{{::tag}}-checkbox"></label>
        </div>
    </div>
    <div class="input-container">
        <label for="article-preview" class="label-required">Article Preview</label>
        <textarea id="article-preview" name="articlePreview" ng-model="$ctrl.article.articlePreview" ng-required="true" custom-validator="20"></textarea>
        <div class="help-block" ng-messages="articleForm.articlePreview.$error" ng-if="$ctrl.shouldShowErrors(articleForm.articlePreview)">
            <p ng-message="customValidator">Todo must be at least 20 characters.</p>
            <p ng-message="required">Todo is required.</p>
        </div>
    </div>
    <div class="input-container">
        <label for="article-text" class="label-required">Article Text</label>
        <textarea id="article-text" name="articleText" ng-model="$ctrl.article.articleText" ng-required="true" custom-validator="20"></textarea>
        <div class="help-block" ng-messages="articleForm.articleText.$error" ng-if="$ctrl.shouldShowErrors(articleForm.articleText)">
            <p ng-message="customValidator">Todo must be at least 20 characters.</p>
            <p ng-message="required">Todo is required.</p>
        </div>
    </div>
    <div class="submit-container">
        <a class="btn btn_link" ui-sref="home">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back
        </a>
        <input class="btn btn-fill" type="submit" value="{{$ctrl.submitType}} Article">
    </div>
</form>
